//////////////////////////////////////////////////
///////////////////// Adaptive ///////////////////
//////////////////////////////////////////////////

////////////////////// breackpoints
$mobile-width: "(max-width: 767px)";
$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1220px)";


//////////////////////////////////////////////////
///////////////////// Colors /////////////////////
//////////////////////////////////////////////////
$pink: #d22856;
$blue: #283645;
$gray: #f2f2f2;
$light-gray: #efefef;
$lightest-gray: #e9ebec;
$dark-gray: #bec2c7;
$darker-gray: #b5b9be;
$darkest-gray: #8d949b;
$green: #1c9b5e;
$light-green: #2aab6d;


//////////////////////////////////////////////////
/////////////////// Typography ///////////////////
//////////////////////////////////////////////////

////////////////////// font-family
$open-sans: "Open Sans", Tahoma, sans-serif;

////////////////////// font-weight
$light: 300;
$norm: 400;
$bold: 700;
