//////////////////////////////////////////////////
///////////////////// Adaptive ///////////////////
//////////////////////////////////////////////////

////////////////////// breackpoints
$mobile-width: "(max-width: 699px)";
$tablet-width: "(min-width: 700px)";
$desktop-width: "(min-width: 1200px)";


//////////////////////////////////////////////////
///////////////////// Colors /////////////////////
//////////////////////////////////////////////////

$pink: #d22856;
$blue: #283645;
$dark-blue: #1d2631;
$gray: #f2f2f2;
$light-gray: #efefef;
$lightest-gray: #e9ebec;
$dark-gray: #bec2c7;
$darker-gray: #b5b9be;
$darkest-gray: #8d949b;
$green: #2aab6d;
$dark-green: #1c9b5e;
$light-green: #2aab6d;


//////////////////////////////////////////////////
/////////////////// Typography ///////////////////
//////////////////////////////////////////////////

////////////////////// font-family
$open-sans: "Open Sans", Tahoma, sans-serif;

////////////////////// font-weight
$light: 300;
$norm: 400;
$bold: 700;
