*, *::before, *::after {
  box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}
body {
    min-width: 320px;
    background-color: white;
    color: $blue;
}

// что еще можно положить в этот файл?
