.btn {
    &--submit {
        width: 280px;
        height: 60px;
        margin: 0 auto;
        margin-bottom: 45px;
    }
    &--post,
    &--cancel {
        display: block;
        width: 280px;
        margin: 0 auto;
    }

    @media #{$tablet-width} {
        &--submit {
            width: 300px;
            margin: 0;
        }
        &--post,
        &--cancel {
            width: 260px;
            margin: 0 auto;
        }
    }

    @media #{$desktop-width} {
        &--post,
        &--cancel {
            display: inline-block;
            width: 183px;
        }
    }
}
