.download {
    padding-top: 300px;
    text-align: center;
    color: white;
    background-color: $blue;
    
    &__text {
        @include indent-reset;
    }

    @media #{$tablet-width} {
        width: 48.4%;
        max-width: 520px;
        padding-top: 0;
        background-color: transparent;

        &__text {
        @include indent-reset;
            width: 42.9%;
        } 
    }

    @media #{$desktop-width} {
        width: 32.5%;
        max-width: 390px;
    }

    // для оформления сетки
    outline: 2px solid yellow;
}
