.editor {

    &__container {
        @include container;
    }

    &__text {
        @include indent-reset;
        padding: 44px 4% 40px;
        text-align: center;
    }

    &__load-btn,
    &__tool-btn {
        display: none;
    }

    &__photo {
        width: 100%;
        height: auto;
        min-height: 375px;
        overflow: hidden;
        cursor: pointer;
        font-size: 0;
        line-height: 0;
        background: linear-gradient(45deg, $dark-gray, $gray);
    }

    &__photo img {
        width: 100%;
    }

    &__form-wrap {
        background-color: $gray;
    }

    &__form {
        @include container;
        padding: 20px 6.3% 30px;
    }

    &__toolbar {
        position: relative;
        display: flex;
        width: 100%;
        padding: 32px 7.5% 0;
        
        &:after {
           content: ""; 
           position: absolute;
           width: 115%;
           height: 1px;
           left: -7.5%;
           bottom: 0;
           background-color: #dddfe0;
        }
    }

    &__tool {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 121px;
        padding-bottom: 34px;
    }

    &__tool-icon {
        cursor: pointer;
    }

    &__tool-icon--svg {
        width: 44px;
        height: 44px;
    }

    &__buttons {
        margin-top: 40px;
    }

    ////////////// Ползунок //////////////

    &__tool-range {

        -webkit-appearance: none;

        &::-webkit-slider-runnable-track,
        &::-webkit-slider-thumb  {
            -webkit-appearance: none;
        }


        // Фоновая линия ползунка
    
        @mixin runnable-track {
            width: 100%;
            height: 2px;
            background-color: $blue;
        }

        &::-webkit-slider-runnable-track {
            @include runnable-track;
        }
          
        &::-moz-range-track {
            @include runnable-track;
        }

        &::-ms-track {
            @include runnable-track;
        }

        &:focus {
            outline: 0;
        }


        // Смещающийся элемент ползунка

        @mixin slider-thumb {
            width: 14px;
            height: 14px;
            margin-top: -5px;
            border: 2px solid $pink;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: none;
            cursor: pointer;
        }
        
        &::-webkit-slider-thumb {
            @include slider-thumb;
        }

        &::-moz-range-thumb {
            @include slider-thumb;
          
            &:active {
                background-color: $pink;
            }
        }

        &::-ms-thumb {
            @include slider-thumb;
        }

        &::-ms-fill-lower,
        &::-ms-tooltip {
            display: none;
        }

        &:active {
            &::-webkit-slider-thumb {
                background-color: $pink;
            }
        } 
    }

    @media #{$mobile-width} {
        
        &__tool-icon {
            margin: 0 auto;
            color: #b5b9be;
            
            &:hover {
                color: #8d949b;
            }
        }

        &__tool-icon--contrast {
            margin-top: 9px;
        }

        &__tool-icon--color {
            margin-top: 4px;
        }

        &__tool-range {
            display: none;
            width: 300%;
            margin-top: auto;
        }

        &__tool-range--color {
            transform: translateX(-33.3%);
        }

        &__tool-range--contrast {
            transform: translateX(-66.6%);
        }

        &__tool-btn[id="crop"]:checked ~ &__tool-icon[for~="crop"],
        &__tool-btn[id="color"]:checked ~ &__tool-icon[for~="color"],
        &__tool-btn[id="contrast"]:checked ~ &__tool-icon[for~="contrast"] {
            color: $pink;
        }

        &__tool-btn:checked ~ &__tool-range {
            display: block;
        }
    }

    @media #{$tablet-width} {
        
        &__text {
            padding-bottom: 70px;
        }

        &__form {
            display: flex;
            justify-content: space-between;
            padding: 58px 0 40px;
        }

        &__column {
            display: flex;
            flex-direction: column;
            width: 44.4%;
            min-width: 275px;
            min-height: 400px;
            
            &:nth-child(1) {
                width: 48.4%;
                min-width: 300px;
            }
        }

        &__photo {
            min-height: 400px;
        }

        &__toolbar {
            flex-direction: column;
            height: 210px;
            margin-top: -10px;
            margin-bottom: auto;
            padding: 0;
            
            &:after {
               display: none;
            }
        }

        &__tool {
            flex-direction: row;
            align-items: center;
            height: 69px;
            padding: 0;
            border-bottom: 1px solid #dddfe0;
        }

        &__tool-icon {
            width: 22px;
            height: 22px;
            margin: 0;
            margin-right: 25px;
            color: $pink;
            cursor: auto;
        }

        &__tool-icon-svg {
            width: 22px;
            height: 22px;
        }

        &__tool-range {
            flex-grow: 1;
            width: auto;
            margin-right: 18px;
        }
    }

    @media #{$desktop-width} {
        
        &__text {
            padding-top: 3px;
        }

        &__form-wrap {
            @include container ;
        }

        &__form {
            justify-content: space-around;
            width: 100%;
            padding: 53px 5%;
        }

        &__column {
            width: 388px;
            
            &:nth-child(1) {
                width: 300px;
                margin-right: 20px;
            }
        }

        &__tool-icon {
            width: 44px;
            height: 44px;
            margin-right: 48px;
        }

        &__tool-icon-svg {
            width: 44px;
            height: 44px;
        }

        &__buttons {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
    }
}
