.features {
    text-align: center;
    background-color: $gray;

    &__container {
        position: relative;
        z-index: 6;
        @include clearfix;
        @include container;
        padding-top: 55px;
    }

    &__heading {
        position: relative;
        z-index: 5;
        padding: 44px 0 65px;
        background-color: #fff;
        @include bg-diagonal($gray, transparent, 30px);
    }

    &__title {
        @include indent-reset;
        width: 71%;
        margin: 0 auto;
        font-size: 24px;
        font-weight: $light;
        line-height: 29px;
        text-align: center;

        &:first-of-type {
            margin-bottom: 28px;
        }
    }

    &__img {
        width: 159px;
        margin: 0 auto;
        height: 280px;
        background-image: url("/img/iphone-screen-mobile.png");
        background-repeat: no-repeat;
        
        @media (min-resolution: 1.5dppx) {
            background-image: url("/img/iphone-screen-mobile@2x.png");
        }
    }

    &__content {
        margin-bottom: 38px;
    }

    &__item {
        margin-bottom: 37px;
    }
    
    &__item-title {
        @include indent-reset;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 10px;
        font-weight: $bold;
        color: #000;
    }
    
    &__item-text {
        font-size: 14px;
        line-height: 24px;
    }

    @media #{$tablet-width} {
        text-align: left;

        &__heading {
            padding: 48px 0 100px;
            @include bg-diagonal($gray, transparent, 52px);
        }

        &__title {
            width: 85%;
            font-size: 40px;
            line-height: 48px;
            
            &:first-of-type {
                margin-bottom: 0;
            }

            &:nth-of-type(2) {
                width: 60%;
            }
        }

        &__img,
        &__content {
            width: 50%;
        }

        &__img {
            float: left;
            width: 270px;
            height: 430px;
            background-image: url("/img/iphone-screen-tablet-3@1x.png");
            background-position-y: -50px;
        
            @media (min-resolution: 1.5dppx) {
                background-image: url("/img/iphone-screen-tablet-3@2x.png");
            }
        }

        &__content {
            float: right;
            margin-bottom: 0;
        }

        &__item {
            margin-bottom: 40px;
        }

        &__item-title {
            margin-top: 28px;
        }
    }

    @media #{$desktop-width} {

        &__heading {
            padding: 68px 0 172px;
            @include bg-diagonal($gray, transparent, 81px);
        }

        &__title {
            font-size: 50px;
            line-height: 60px;
            
            &__title {
                width: 65%;
            }
        }

        &__img {
            display: none;
        }

        &__content {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }

        &__item {
            position: relative;
            width: 300px;
            margin-bottom: 0;
            padding: 234px 0 20px;
            text-align: center;
            
            &:nth-child(2) {
                margin-left: 20px;
            }

            &:nth-child(3n) {
                margin-left: 22px;
            }
            
            &::before {
                content: "";
                position: absolute;
                top: -95px;
                left: 50%;
                transform: translate(-50%);
                width: 263px;
                height: 301px;
                background-size: 294px 301px;
                background-position: center;
                background-repeat: no-repeat;
            }

            &:first-child:before {
                background-image: url("/img/iphone-screen-desktop-1@1x.png");
            }

            &:nth-child(2):before {
                background-image: url("/img/iphone-screen-desktop-2@1x.png");
            }

            &:last-child:before {
                background-image: url("/img/iphone-screen-desktop-3@1x.png");
            }

            @media (min-resolution: 1.5dppx) {
                &:first-child:before {
                    background-image: url("/img/iphone-screen-desktop-1@2x.png");
                }

                &:nth-child(2):before {
                    background-image: url("/img/iphone-screen-desktop-2@2x.png");
                }

                &:last-child:before {
                    background-image: url("/img/iphone-screen-desktop-3@2x.png");
                }
            }
        }

        &__item-title {
            margin-bottom: 23px;
            padding: 0 12%;
            font-size: 30px;
            line-height: 30px;
        }

        &__item-text {
            margin-top: 0px;
            margin-bottom: 24px;
            padding: 0 10%;
            font-size: 18px;
            line-height: 30px;
        }
    }
}
