.features {
    text-align: center;
    background-color: $gray;

    &__container {
        @include container;
        @include clearfix;
    }

    &__heading {
        padding: 75px 0 80px;
        background-color: white;
    }

    &__title {
        @include indent-reset;
        width: 71%;
        margin: 0 auto;
        text-align: center;
        outline: 2px solid blue; // для оформления сетки
    }

    &__img {
        height: 280px;
    }

    &__content {
        margin-bottom: 45px;
        outline: 2px solid green; // для оформления сетки
    }

    &__item {
        outline: 2px solid blue; // для оформления сетки
    }

    @media #{$tablet-width} {
        text-align: left;

        &__heading {
            padding: 55px 0 45px;
        }

        &__title {
            width: 77%;
        }

        &__img,
        &__content {
            width: 50%;
            outline: 2px solid green; // для оформления сетки
        }

        &__img {
            float: left;
            height: 480px;
        }

        &__content {
            float: right;
        }
    }

    @media #{$desktop-width} {

        &__heading {
            padding: 75px 0 80px;
        }

        &__title {
            width: $desktop-width;
        }

        &__img {
            display: none;
        }

        &__content {
            width: 100%;
            margin-bottom: 35px;
        }

        &__item {
            display: inline-block;
            vertical-align: top;
            width: 33%;
            padding-top: 360px;
            text-align: center;
        }
    }

    // для оформления сетки
    outline: 2px solid red;
}
