.form {
    &__container {
        display: flex;
        flex-direction: column;
        @include container;
    }
    &__text {
        width: 100%;
        @include indent-reset;
        margin: 0 auto;
        padding-top: 37px;
        padding-bottom: 37px;
        text-align: center;
    }
    &__filters {
        display: flex;
        flex-direction: column;
    }
    &__filter {
        @include indent-reset;
        border: none;
        margin-bottom: 52px;
        padding-top: 34px;
        padding-bottom: 40px;
        &:nth-of-type(2n) {
            background-color: $gray;
        }
    }
    &__filter-legend {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 14px;
        line-height: 30px;
        font-weight: $norm;
        text-align: center;
        text-transform: uppercase;
        color: $pink;
    }
    &__filter:nth-of-type(3) &__filter-legend {
        display: none;
    }
    &__filter-title {
        display: inline-block;
        padding: 0 23px;
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 30px;
        font-weight: $norm;
        text-transform: uppercase;
        color: $pink;
    }
    &__filter-title--center {
        display: block;
        width: 100%;
    }
    &__filter-text {
        width: 100%;
        padding: 17px 22px;
        margin-bottom: 21px;
        font-size: 18px;
        line-height: 30px;
        font-weight: $norm;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__filter-checkbox,
    &__filter-radio {
        display: none;
    }
    &__filter-item {
        position: relative;
        display: block;
        padding-left: 70px;
        margin-bottom: 34px;
        font-size: 18px;
        line-height: 39px;
        font-weight: $norm;
        color: $blue;
        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 39px;
            height: 39px;
            background-color: white;
            border: 2px solid #e5e5e5;
        }
        &--radio::before {
            border-radius: 50%;
        }
    }
    &__filter-hint {
        text-align: center;
    }

    @media #{$tablet-width} {
        &__filter {
            padding-left: 60px;
            padding-top: 34px;
            padding-right: 60px;
            padding-bottom: 40px;
            border: 2px solid #e5e5e5;
            border-radius: 2px;
            &:nth-of-type(2n) {
                background-color: white;
            }
        }
        &__filter:first-child {
            display: flex;
            padding-left: 0;
            padding-right: 0;
            border: none;
            .form__filter-title {
                display: inline;
            }
            .form__filter-text {
                width: auto;
            }
        }
        &__filter:nth-of-type(1) {
            order: -3;
        }
        &__filter:nth-of-type(4) {
            order: -2;
        }
        &__filter:nth-of-type(3) {
            order: -1;
        }
        &__text {
            width: 80.65%;
            padding-top: 160px;
            padding-bottom: 75px;
        }
        &__filter-title {
            
        }
    }

    @media #{$desktop-width} {
        &__text {
            width: 79.8%;
            padding-top: 90px;
            padding-bottom: 70px;
        }
    }

    // для оформления сетки
    outline: 2px solid red;
}
