.form {

    &__text {
        @include container;
        margin: 0 auto;
        padding: 46px 6.6% 34px;
        text-align: center;
    }

    &__filters {
        display: flex;
        flex-direction: column;
    }

    &__filter-wrap {
        flex-basis: 100%;
        padding-top: 36px;
        padding-bottom: 49px;
    }

    &__filter-wrap--name {
        padding-top: 0;  
        padding-bottom: 30px;
    }

    &__filter-wrap--contacts {
        padding-top: 29px;
        padding-bottom: 43px;
    }

    &__filter-wrap--app {
        padding-top: 30px;
        padding-bottom: 42px;
    }

    &__filter-wrap--emotions {
        padding-top: 58px;
        padding-bottom: 31px;
    }

    &__filter {
        display: flex;
        padding: 0; 
        border: none;
    }

    &__filter-legend {
        margin-bottom: 39px;
        padding: 0 30px;
        font-size: 14px;
        line-height: 18px;
        font-weight: $norm;
        text-align: center;
        text-transform: uppercase;
        color: $pink;
    }

    &__filter-legend--app {
        margin-bottom: 37px;
    }

    &__filter-legend--emotions {
        margin-bottom: 12px;
    }


    // Текстовые поля
    
    &__filter-title {
        padding: 0 23px;
        font-size: 14px;
        line-height: 30px;
        font-weight: $norm;
        text-transform: uppercase;
        color: $pink;
    }

    &__filter-title--center {
        display: block;
        width: 100%;
    }

    &__filter-textfield {
        width: 100%;
        padding: 14px 20px;
        margin-top: 5px;
        margin-bottom: 17px;
        font-size: 18px;
        line-height: 30px;
        font-weight: $norm;
        border: 2px solid #e5e5e5;
        border-radius: 1px;
        outline: none;

        &::-webkit-input-placeholder {
            color: $blue;
        }

        &:-moz-placeholder {
            color: $blue;
        }

        &:hover {
            border-color: $blue;
        }

        &:focus {
            border-color: $pink;
        }
    }

    &__filter-textfield--textarea {
        width: 100%;
        height: 200px;
        resize: none;
    }


    // Чекбоксы и радиобаттоны

    &__filter-checkbox,
    &__filter-radio {
        display: none;
    }

    &__filter-label {
        position: relative;
        display: block;
        padding-left: 70px;
        margin-bottom: 43px;
        font-size: 18px;
        line-height: 39px;
        font-weight: $norm;
        color: $blue;
        
        &:last-child {
            margin-bottom: 0;
        }
        
        &::after,
        &::before {
            content: "";
            position: absolute;
            cursor: pointer;
        }

        &::after {
            top: 12px;
            display: none;
        }

        &::before {
            left: 0;
            width: 39px;
            height: 39px;
            background-color: #fff;
            border: 2px solid #e5e5e5;
        }  
        
        &:hover::before,
        &:focus::before {
            border-color: $blue;
        }

        &:active::before  {
            border-color: $pink;
        }  
    }

    &__filter-label--radio {
        margin-bottom: 35px;
        
        &::before {
            border-radius: 50%;
        }

        &::after {
            left: 12px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #d22856;
        }
    }

    &__filter-label--checkbox {

        &::after {
            left: 9px;
            width: 22px;
            height: 11px;
            transform: rotate(-45deg);
            border-left: 3px solid $pink; 
            border-bottom: 3px solid $pink; 
            border-radius: 1px;
        }
    }

    &__filter-checkbox:checked + &__filter-label--checkbox::after,
    &__filter-radio:checked + &__filter-label--radio::after {
        display: block;
    }


    // Подсказка
    
    &__filter-hint {
        flex-basis: 100%;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    &__filter-hint-hide {
        display: none;
    }

    &__filter-hint-highlight {
        font-size: 14px;
        color: $pink;
    }

    @media #{$mobile-width} {

        &__container {
            width: auto;
            margin: 0;
        }

        &__text--hidden {
            display: none;
        }

        &__filter-wrap {

            &:nth-of-type(2n) {
                background-color: $gray;
            }
        }

        &__filter {
            margin: 0 auto;
            padding-left: 6.3%; 
            padding-right: 6.3%;  
        }

        &__filter-legend--contacts {
            display: none;
        }
    }

    @media #{$tablet-width} {
        
        &__container {
            @include container;
            margin-bottom: 65px;
        }

        &__text {
            padding: 91px 3.6% 21px;
            
            &:nth-child(1) {
                padding-bottom: 0;
            } 

            &:nth-child(2) {
                padding-top: 0;
            }
        }


        &__filter-wrap {
            width: auto;
            margin: 0;
        }

        &__filter-wrap--name {
           order: -3; 
           padding: 45px 0 10px;
        }

        &__filter-wrap--app {
           order: -2; 
           padding-bottom: 29px;
        }

        &__filter-wrap--contacts {
            order: -1;
            padding-bottom: 22px;
        }

        &__filter-wrap--progress {
            padding-bottom: 57px;
        } 

        &__filter-wrap--emotions {
            padding-top: 0;
            padding-bottom: 65px;
        } 

        &__filter {
            border: 2px solid #e5e5e5;
            border-radius: 2px;
        }

        &__filter--name {
            display: flex;
            border: none;
        }

        &__filter--progress {
            padding: 45px 45px 47px;
            background-color: #fff;
        }

        &__filter--app {
            padding: 45px 45px 55px;
        }

        &__filter--contacts {
            padding: 32px 56px 0;
        }

        &__filter--emotions {
            padding: 32px 56px 34px;
        }

        &__filter-legend {
            margin-bottom: 0;
            &--contacts {
                
            }
        }

        &__filter-item {
           display: flex; 
           align-items: center;
           margin-bottom: 32px;
           
           &:last-child {
                margin-bottom: 0;
           } 
        }

        &__filter-inner {
            display: flex;
            flex-direction: column-reverse;
        }

        &__filter-title {
            margin-bottom: 12px;
            padding-right: 17px;
            padding-left: 0;
        }

        &__filter-title--contacts {
            margin-bottom: 25px;
            padding: 0;
            padding-left: 20px;
        }

        &__filter-textfield--contacts[id="tel"],
        &__filter-textfield--contacts[id="email"] {
            background-repeat: no-repeat;
            background-position: right 20px center;
        }

        &__filter-textfield--contacts {
            margin-bottom: 10px;
        }

        &__filter-textfield--contacts[id="tel"] {
            background-image: url(/img/icon-phone.svg);
        }

        &__filter-textfield--contacts[id="email"] {
            background-image: url(/img/icon-mail.svg);
        }

        &__filter-textfield--textarea {
            height: 194px;
        }

        &__filter-label--radio {
            
            &::after {
                left: 23px;
            }
            &::before {
                left: 11px;
            }
        }

        &__filter-label--checkbox {
            
            &::after {
                top: 10px;
                left: 19px;
            }
            &::before {
                left: 11px;
            }
        }

        &__filter-hint {
            align-self: flex-end;
            max-width: 50%;
            margin-top: -44px;
            text-align: right;
        }
    }

    @media #{$desktop-width} {

        &__container {
            margin-bottom: 0;
        }
        
        &__descript {
            padding: 89px 80px 34px;
            text-align: center;
        }

        &__text {
            display: inline;
            padding: 0;
        }

        &__filter-wrap--name,
        &__filter-wrap--app {
            flex-basis: 46.5%;
        }

        &__filter-wrap--name {
            margin-right: auto;
            padding-top: 44px;
        }

        &__filter-wrap--app {
            padding-top: 35px;
        }
        
        &__filters {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__filters--app {
            border: none;
        }

        &__filter--progress {
            padding: 43px 45px 12px;
        }

        &__filter--contacts {
            padding: 29px 56px 14px;
        }

        &__filter--emotions {
            padding: 29px 56px 25px;
        }
        
        &__filter-legend {
            padding: 0 30px;
        }

        &__filter-legend--app {
            display: block;
            padding: 0 10px;
        }

        &__filter-inner {
            flex-basis: 45.8%;
        }

        &__filter-items-wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__filter-label--radio {
            margin-left: 18px;
        }

        &__filter-label--checkbox {
            width: 32%;
        }

        &__filter-label[for="shark"] {
            order: 1;
        }

        &__filter-label[for="burned"] {
            order: 4;
        }

        &__filter-label[for="norris"] {
            order: 2;
            margin-left: 10px;
        }

        &__filter-label[for="souvenirs"] {
            order: 5;
            margin-left: 10px;
        }

        &__filter-label[for="tower"] {
            order: 3;
            flex-basis: 222px;
        }

        &__filter-label[for="destroy"] {
            order: 6;
            flex-basis: 222px;
        }

        &__filter-title--contacts {
            margin-bottom: 0;
        }

        &__filter-textfield--textarea {
            height: 128px;
        }

         &__filter-hint {
            align-self: auto;
            margin-top: 19px;
            margin-left: auto;
         }

        &__filter-hint-hide {
            display: inline;
        }
    }
}
