.intro {
    min-height: 235px;

    &__container {
        @include container;
    }
    &__title {
        @include indent-reset;
        margin-top: 95px;
        padding: 0 17.1875%;
        text-align: center;
        color: white;

        outline: 2px solid yellow; // для оформления сетки
    }
    &--main-page {
        min-height: 460px;

        &__title {
            display: none;
            width: 300px;
            padding: 0 27.66%;

            outline: 2px solid yellow; // для оформления сетки
        }
    }

    @media #{$tablet-width} {
        &--main-page {
            min-height: 730px;

            &__title {
                position: absolute;
                top: 210px;
                display: block;
                margin-top: 0;
                margin-left: 4.5%; //54/1200
                font-size: 40px;
            }
        }
    }

    @media #{$desktop-width} {
        min-height: 390px;

        &__title {
            margin-top: 310px;
        }
        &--main-page {
            min-height: 850px;

            &__title {
                position: absolute;
                top: 230px;
                display: block;
                margin-top: 0;
            }
        }
    }

    // для оформления сетки
    outline: 2px solid green;
    background-color: rgba(green, 0.2);
}
