.intro {
    font-size: 24px;
    background-color: $blue;

    &--main-page {
        min-height: 717px;
        background-image: url("../../img/iphone-hand-mobile.png"), url("../../img/bg-back-mobile.jpg");
        background-position: 0 173px, center 0;
        background-repeat: no-repeat;
    }

    &__container {
        @include container;
        
        &--main-page {
        }
    }

    &__title {
        width: 285px;
        margin: 0 auto;
        padding: 97px 0 83px;
        text-align: center;
        color: white;

        &--main-page {
            display: none;
        }
    }

    @media #{$tablet-width} {



        &--main-page {
            min-height: 730px;
        }

        &__title {
            width: 585px;
            padding: 180px 0 140px;
            font-size: 50px;

            &--main-page {
                display: block;
                width: 48.4%;
                margin-left: 0;
                padding: 203px 7.7% 3px;
            }
        }
    }

    @media #{$desktop-width} {

        &--main-page {
            min-height: 852px;
        }

        &__title {
            padding: 170px 8.7% 100px;
            font-size: 50px;

            &--main-page {
                width: 32.5%;
                padding: 218px 0 24px;
            }
        }
    }
}
