.page-header {
    position: absolute;
    width: 100%;
    min-width: 320px;
    min-height: 66px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    
    &__no-js {
        position: relative;
        background-color: $blue;
    }

    &--active {
        background-color: $blue;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
    }
    
    &__mini {
        @include clearfix;
        position: relative;
        z-index: 100;
        width: 100%;
        min-height: 66px;
        padding: 20px 6.3%;
        background-color: transparent;
        border: none;
    }

    &__mini--active {
        background-color: $blue;
        border-bottom: 1px solid #000;
    }

    &__mini--closed {
        background-color: transparent;
        border: none;
    }

    &__logo {
        float: left;
        width: 75px;
        height: 23px;
        color: #fff;
        
        &:hover {
          color: $pink;  
        }

        &:active {
          color: rgba(#fff, 0.3);
        }
    }

    &__logo-svg {
        width: 75px;
        height: 23px;
    }

    &__logo-svg--tablet,
    &__logo-svg--desktop {
        display: none;
    }

    &__hamburger {
        float: right;
        position: relative;
        width: 50px;
        height: 25px;
        cursor: pointer;
    }

    &__hamburger-lines {
        position: absolute;
        top: 10px;
        width: 50px;
        height: 4px;
        background-color: #fff;
        transition: transform 0.3s;
        
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 50px;
            height: 4px;
            background-color: #fff;
        }

        &::before {
            top: -10px;
        }

        &::after {
            bottom: -10px;
        }
    }

    &__hamburger-lines--cross {
        position: absolute;
        top: 9px;
        left: 25px;
        width: 28px;
        height: 4px;
        background-color: #fff;
        transform: rotate(45deg);
        
        &::after {
            top: 0;
            left: 0;
            width: 28px;
            transform: rotate(90deg);
        }

        &::before {
            display: none;
        }
    }
    
    &__hamburger:hover &__hamburger-lines,
    &__hamburger:hover &__hamburger-lines::after,
    &__hamburger:hover &__hamburger-lines::before,
    &__hamburger:hover .hamburger-liness--cross,
    &__hamburger:hover .hamburger-liness--cross::after {
        background-color: $pink; 
    }

    &__hamburger:active &__hamburger-lines,
    &__hamburger:active &__hamburger-lines::after,
    &__hamburger:active &__hamburger-lines::before,
    &__hamburger:active .hamburger-liness--cross,
    &__hamburger:active .hamburger-liness--cross::after {
        background-color: rgba($pink, 0.3); 
    }

    @media #{$tablet-width} {

        min-height: 110px;

        &__mini {
            min-height: 110px;
            padding: 27px 5.8%;
        }

        &__hamburger {
            margin-top: 17px;
        }

        &__logo {
            width: 147px;
            height: 40px;
            margin-bottom: 15px;
            color: #fff;
        }

        &__logo-svg {
            width: 147px;
            height: 40px;
        }

        &__logo-svg--mobile {
            display: none;
        }

        &__logo-svg--tablet {
            display: inline;
        }
    }

    @media #{$desktop-width} {

        &--active {
            background-color: rgba(0, 0, 0, 0.3);
        }

        &__container {
            flex-direction: row;
            width: 78.3%;
            margin: 0 auto;
        }
        
        &__mini {
            width: 150px;
            margin-right: 18%;
            padding: 0;
        }

        &__mini--active {
            background-color: transparent;
        }

        &__logo {
            margin-top: 27px;
        }

        &__logo-svg--tablet {
            display: none;
        }

        &__logo-svg--desktop {
            display: inline;
        }

        &__hamburger {
            display: none;
        }
    }
}
