.page-nav {
    background-color: $blue;
    
    &--closed {
        display: none;
    }
    
    &__list {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-left: 0;
        list-style: none;
    }

    &__item {
        height: 64px;
        font-size: 18px;
        line-height: 32px;
        font-weight: $bold;
        text-transform: uppercase;
        text-align: center;
        border-top: 1px solid rgba(white, 0.15);
        border-bottom: 1px solid black;
        
        a {
            display: block;
            padding: 18px 0;
            @include link-reset;
        }
    }

    @media #{$desktop-width} {
        width: 68%;
        background-color: transparent;
        
        &--closed {
            display: block;
        }
        
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            min-height: 110px;
        }

        &__item {
            border: none;
            line-height: 18px;
            font-weight: $norm;
            text-transform: none;
        }
    }
}
