.page-footer {
    color: $blue;
    background-color: white;
    
    &--hidden {
        display: none;
    }
    &__container {
        @include container;
    }
    &__logo {
        width: 150px;
        display: block;
        margin: 0 auto;
        outline: 2px solid green;
    }
    &__social {
        margin: 0 auto;
        text-align: center;
        outline: 2px solid green;
    }
    &__copyright {
        width: 150px;
        display: block;
        margin: 0 auto;
        outline: 2px solid green;
    }

    @media #{$tablet-width} {
        &--hidden {
            display: block;
        }
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 125px;
        }
    }
    @media #{$desktop-width} {
        &__container {
            min-height: 200px;
        }
    }


    // для оформления сетки
    outline: 2px solid red;
}
