.page-header {
    position: absolute;
    width: 100%;
    min-width: 320px;
    background-color: rgba(29, 38, 50, 0.3);
    color: white;

    &__container {
        @include container;
        @include clearfix;
        margin-bottom: 20px;
    }
    &__mini {}
    &__logo {
        float: left;
        width: 75px;
        height: 23px;
        margin-top: 20px;
        outline: 2px solid yellow; // для оформления сетки
        img {
            width: 100%;
            height: auto;
        }
    }
    &__hamburger {
        float: right;
        width: 50px;
        height: 25px;
        margin-top: 20px;
        outline: 2px solid yellow; // для оформления сетки
    }
    

    @media #{$tablet-width} {
        &__container {
            padding-bottom: 40px;
        }
        &__mini {}
        &__logo {
            width: 150px;
            height: 40px;
            margin-top: 25px;

            img {
            width: 100%;
            height: auto;
            }
        }
        &__hamburger {
            
        }
    
    }

    @media #{$desktop-width} {
        &__hamburger {
            display: none;
        }

    }

    // для оформления сетки
    outline: 2px solid green;
}
