.page-nav {
    position: absolute;
    top: 70px;
    width: 100%;
    min-width: 320px;

    &__list {
        @include ul-reset;
    }
    &__item {
        text-align: center;
        a {
            @include link-reset;
        }
    }

    @media #{$tablet-width} {
        top: 130px;
    }

    @media #{$desktop-width} {
            top: 45px;
            right: 10.8885%;
            width: auto;
            margin-left: 10%;
            &__item {
            display: inline-block;
            vertical-align: top;
            text-align: left;
        }
    }


    // для оформления сетки
    outline: 2px solid blue;
}
