.page-footer {
    color: $blue;
    background-color: #ffffff;

    &--hidden {
        display: none;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        @include container;
        min-height: 300px;
    }

    &__logo {
        
    }

    &__social {
        text-align: center;
    }

    &__copyright {
        width: 150px;
        @include link-reset;
        font-size: 14px;
        line-height: 18px;
    }

    @media #{$tablet-width} {

        &--hidden {
            display: block;
        }

        &__container {
            flex-direction: row;
            justify-content: space-between;
            min-height: 125px;
        }

        &__logo,
        &__social,
        &__copyright {
            margin: 0;
        }
    }

    @media #{$desktop-width} {

        &__container {
            min-height: 200px;
        }

        &__copyright {
            font-size: 18px;
        }
    }
}
