.photos {

    &__container {
        position: relative;
        @include container;
    }

    &__text {
        margin: 0;
        padding: 46px 6.6% 50px;
        text-align: center;
    }

    @media #{$tablet-width} {

        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        &__text {
            padding: 92px 14.7% 76px;
        }
    }

    @media #{$desktop-width} {
        
        &__text {
            padding: 96px 17.7% 88px;
        }
    }
}
