.popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: #fff;
    box-shadow: 0 7px 15px 0px rgba(#000000, 0.15);

    &--shown {
        display: block;
    }
    
    &__inner,
    &__wrap {
        width: 320px;
        text-align: center;
    }

    &__inner--failure {
        padding: 20px; 
    }

    &__inner--accept {
        padding: 32px 25px 17px;
    }

    &__wrap {
        padding: 48px 21px 16px; 
        background-color: $gray;
    }

    &__title {
        margin-bottom: 26px;
        font-size: 18px;
        line-height: 24px;
        font-weight: $bold;
        color: #000;
    }

    &__text {
        font-size: 14px;
        line-height: 24px;
    }
    
    @media #{$tablet-width} {
        
        &--failure,
        &--accept {
            width: 460px;
        }
        
        &__inner,
        &__wrap {
            width: 100%;
        }

        &__wrap {
            padding-top: 50px;
        }
        
        &__inner--failure {
            padding: 20px; 
        }

        &__inner--accept {
            padding: 3px 68px 52px;
        }

        &__title {
            margin-bottom: 22px;
            font-size: 30px;
            line-height: 40px;
        }

        &__text {
            margin-bottom: -21px;
            font-size: 18px;
        }
    }

    @media #{$desktop-width} {
        
        &__inner,
        &__wrap {
            width: 100%;
        }

        &__wrap {
            padding: 56px 160px 16px;
        }
        
        &--failure {
            width: 460px;
        }

        &--accept {
           width: 780px;
        }

        &__inner--accept {
            padding: 3px 160px 52px;
        }

        &__title {
            font-size: 30px;
            line-height: 40px;
        }

        &__text {
            font-size: 18px;
        }
    }
}
