.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 320px;
    padding: 40px 50px 55px;
    text-align: center;
    background-color: white;
    // drop-shadow: 0 15px 7px rgba(0, 1, 1, 0.15);
    
    @media #{$tablet-width} {
        width: 465px;
        padding: 40px 75px 55px;
    }

    @media #{$desktop-width} {
        width: 790px;
        padding: 40px 80px 55px;
    }
}
