.price {
    overflow: hidden;
    background-color: $gray;

    &__container {
        position: relative;
        margin: 0 auto;
        padding: 62px 1.3% 100px;
    }

    &__toggle {
        display: none;
    }

    

    @media #{$mobile-width} {

        &__controls {
        position: absolute;
        left: 50%;
        bottom: 48px;
        transform: translate(-50%);
        width: 65px;
        height: 15px;
        margin: 0 auto;
        font-size: 0;
        }

        &__control {
            display: inline-block;
            width: 12px;
            height: 12px;
            background-color: $dark-gray;
            border: 3px solid #283645; // active
            border: 3px solid $gray;
            border-radius: 50%;
            cursor: pointer;
            
            &:not(:last-child) {
                margin-right: 12px;
            }

            &:hover {
            background-color: #7e868f;
            }
            
            &:active {
                background-color: $lightest-gray;
            }
        }

        &__toggle[id="price-1"]:checked ~ &__controls &__control[for~="price-1"],
        &__toggle[id="price-2"]:checked ~ &__controls &__control[for~="price-2"],
        &__toggle[id="price-3"]:checked ~ &__controls &__control[for~="price-3"] {
            background-color: transparent;
            border: 3px solid #283645;
        }

        &__toggle[id="price-1"]:checked ~ .price-table {
            transform: translateX(0);
        }
        &__toggle[id="price-2"]:checked ~ .price-table {
            transform: translateX(-31%);
        }
        &__toggle[id="price-3"]:checked ~ .price-table {
            transform: translateX(-63%);
        }
    }

    @media #{$tablet-width} {

        &__container {
            width: 88.6%;
            padding: 40px 0 72px;
        }

        &__controls {
            display: none;
        }
    }

    @media #{$desktop-width} {

        &__container {
            width: 78.3%;
            padding: 65px 0 83px;
        }
    }
}