.reviews {
    position: relative;
    text-align: center;
    @include bg-diagonal($gray, transparent, 30px);

    &__container {
        position: relative;
        @include container;
        padding-top: 50px;
        padding-bottom: 69px;
    }
    
    &__slides-wrap {
        margin: 0 auto;
        overflow: hidden;
    }

    &__slides {
        display: flex;
        width: 300%;
        margin-bottom: 30px;
        transition: transform 0.4s ease-in-out;
    }

    &__slide {
        display: inline-block;
        width: 33.3%;
    }

    &__controls {
        width: 65px;
        height: 15px;
        margin: -12px auto 0;
        font-size: 0;
    }

    &__control {
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: $dark-gray;
        border: 3px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        
        &:not(:last-child) {
            margin-right: 12px;
        }

        &:hover {
            background-color: #7e868f;
        }
        
        &:active {
            background-color: $lightest-gray;
        }
    }

    &__quote {
        @include indent-reset;
    }

    &__author-name {
        @include indent-reset;
        margin-bottom: 22px;
        font-size: 18px;
        line-height: 10px;
        font-weight: $bold;
        color: #000;
    }

    &__author-info {
        display: none;
    }

    &__text {
        font-size: 14px;
        line-height: 30px;
    }

    &__toggle,
    &__arrow {
        display: none;
    }  

    @media #{$small-screen} {
        
        &__toggle[id="review-1"]:checked ~ &__controls &__control[for~="review-1"],
        &__toggle[id="review-2"]:checked ~ &__controls &__control[for~="review-2"],
        &__toggle[id="review-3"]:checked ~ &__controls &__control[for~="review-3"] {
            background-color: transparent;
            border: 3px solid #283645;
        }

        &__toggle[id="review-1"]:checked ~ &__slides-wrap &__slides {
            transform: translateX(0);
        }
        &__toggle[id="review-2"]:checked ~ &__slides-wrap &__slides {
            transform: translateX(-33%);
        }
        &__toggle[id="review-3"]:checked ~ &__slides-wrap &__slides {
            transform: translateX(-67%);
        }
    }

    @media #{$tablet-width} {

        @include bg-diagonal($gray, transparent, 52px);

        &__container {
            padding-top: 50px;
            padding-bottom: 70px;
        }

        &__slides-wrap {
            width: 100%;
        }

        &__controls {
            bottom: 20px;
            margin-top: 0;     
        }

        &__quote {
            display: flex;
            flex-wrap: wrap-reverse;
        }

        &__author {
            width: 100%;
        }

        &__author-name {
            margin-bottom: 2px;
            font-size: 20px;
            line-height: 30px;
        }

        &__author-info {
            display: block;
            @include indent-reset;
            font-size: 14px;
            line-height: 30px;
        }

        &__text {
            font-size: 18px;
            margin-bottom: 35px;
        }
    }

    @media #{$desktop-width} {

        @include bg-diagonal($gray, transparent, 81px);

        &__container {
            padding-top: 167px;
            padding-bottom: 95px;
            background: url(/img/icon-quotes.svg) no-repeat 50% 70px;
        }
        
        &__quote {
            width: 720px;
            margin: 0 auto;
        }
        
        &__author-name {
            font-size: 24px;
        }
        
        &__author-info {
            font-size: 18px;
        }

        &__controls {
            display: none;
        }

        &__arrows {
            position: relative;
        }

        &__arrow {
            display: block;
            position: absolute;
            top: -189px;
            width: 22px;
            height: 41px;
            padding: 0;
            background-color: transparent;
            border: none;
            outline: none;
            
            &::after,
            &::before {
                content: "";
                position: absolute;
                right: -5px;
                width: 29px;
                height: 2px;
                background-color: $dark-gray;
            }

            &::after {
                top: 27px;
                transform: rotate(-45deg);
            }
            &::before {
                top: 7px;
                transform: rotate(45deg);
            }
        }

        &__arrow:hover::after,
        &__arrow:hover::before {
            background-color: #7e868f;
        }

        &__arrow:active::after,
        &__arrow:active::before {
            background-color: $lightest-gray;
        }

        &__arrow--disabled {
            cursor: auto;

            &::after,
            &::before {
                background-color: $lightest-gray;
            }
        }

        &__arrow--disabled:hover::after,
        &__arrow--disabled:hover::before {
            background-color: $lightest-gray;
        }

        &__arrow--disabled:active::after,
        &__arrow--disabled:active::before {
            background-color: $lightest-gray;
        }

        &__arrow--next {
            right: 0;
        }

        &__arrow--prev {
            transform: rotate(180deg);
        }

        &__slides--show-first {
            transform: translateX(0);
        }

        &__slides--show-second {
            transform: translateX(-33.3%);
        }

        &__slides--show-third {
            transform: translateX(-66.6%);
        }
    }
}
